In [11]:
import pandas as pd
import numpy as np
import os
import json
import datetime

In [2]:
behaviors_path = r"data/MINDsmall_train/behaviors.tsv"
news_path = r"data/MINDsmall_train/news.tsv"

# Load behaviors data
behaviors = pd.read_csv(behaviors_path, sep='\t', header=None, names=['ImpressionID', 'UserID', 'Time', 'History', 'Impressions'])

# Load news data
news = pd.read_csv(news_path, sep='\t', header=None, names=['NewsID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'TitleEntities', 'AbstractEntities'])

In [4]:
# Transform Impressions column
behaviors['Impressions'] = behaviors['Impressions'].apply(lambda x: x.split(' '))
behaviors = behaviors.explode('Impressions')
behaviors[['NewsID','Clicked']] = behaviors.Impressions.str.split('-', expand = True)
behaviors = behaviors.drop(columns = ['Impressions'])

In [5]:
# Transform time column
behaviors['Time'] = pd.to_datetime(behaviors['Time'])
behaviors['Date'] = behaviors['Time'].dt.date
behaviors['Hour'] = behaviors['Time'].dt.hour
behaviors['DayOfWeek'] = behaviors['Time'].dt.strftime('%A')
behaviors['IsWeekend'] = behaviors['DayOfWeek'].isin(['Saturday', 'Sunday'])

In [8]:
behaviors['Time-H'] = pd.to_datetime(behaviors['Time']).dt.floor('H')

C:\Users\Ying\AppData\Local\Temp\ipykernel_16564\675534166.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  behaviors['Time-H'] = pd.to_datetime(behaviors['Time']).dt.floor('H')

In [9]:
behaviors.head()

,ImpressionID,UserID,Time,History,NewsID,Clicked,Date,Hour,DayOfWeek,IsWeekend,Time-H
0,1,U13740,2019-11-11 09:05:58,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689,1,2019-11-11,9,Monday,False,2019-11-11 09:00:00
0,1,U13740,2019-11-11 09:05:58,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N35729,0,2019-11-11,9,Monday,False,2019-11-11 09:00:00
1,2,U91836,2019-11-12 18:11:30,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678,0,2019-11-12,18,Tuesday,False,2019-11-12 18:00:00
1,2,U91836,2019-11-12 18:11:30,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N39317,0,2019-11-12,18,Tuesday,False,2019-11-12 18:00:00
1,2,U91836,2019-11-12 18:11:30,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N58114,0,2019-11-12,18,Tuesday,False,2019-11-12 18:00:00

In [23]:
# Transform TitleEntities & AbstractEntities

def ExtractLabels(entity_json, threshold = 0.9):
    try:
        entities = json.loads(entity_json)
        return [e['Label'] for e in entities if 'Label' in e and e['Confidence'] >= threshold]
    except:
        return []

# Apply to create a new column of list of entity labels
news['TitleEntityLabels'] = news['TitleEntities'].apply(ExtractLabels)
news['AbstractEntityLabels'] = news['AbstractEntities'].apply(ExtractLabels)

# Explode so each label gets its own row
news_title_exploded = news.explode('TitleEntityLabels')
news_abstract_exploded = news.explode('AbstractEntityLabels')

In [13]:
# Create Time Dimension Table

# Define date range
start_date = datetime.date(2019, 11, 9)
end_date = datetime.date(2019, 11, 14)

# Create datetime range (hourly intervals)
date_range = pd.date_range(start=start_date, end=end_date + datetime.timedelta(days=1), freq='H', inclusive='left')

# Construct DataFrame
date_dim = pd.DataFrame({
    "CompleteDateTime": date_range.strftime("%m/%d/%Y %I:%M:%S %p"),
    "Date": date_range.date,
    "DayofWeek": date_range.strftime("%A"),
    "Hour": date_range.hour,
    "IsWeekend": date_range.weekday >= 5,
    "HourFormatted": date_range.strftime("%H:00")
})

C:\Users\Ying\AppData\Local\Temp\ipykernel_16564\1813643913.py:8: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start=start_date, end=end_date + datetime.timedelta(days=1), freq='H', inclusive='left')

In [ ]:
# Saved as csv files
news_title_exploded = news_title_exploded.drop(columns = ['Category','SubCategory','Title','Abstract','URL','AbstractEntities','AbstractEntityLabels'])
news_abstract_exploded = news_abstract_exploded.drop(columns = ['Category','SubCategory','Title','Abstract','URL','TitleEntities','TitleEntityLabels'])

news_title_exploded.to_csv('data/news_title_labels.csv')
news_abstract_exploded.to_csv('data/news_abstract_labels.csv')
behaviors[['ImpressionID','UserID','Time-H', 'NewsID','Clicked']].to_csv('data/behaviors_flatten.csv')
date_dim.to_csv('data/date_dim.csv')

In [25]:
news_dim = news.drop(columns = ['TitleEntities', 'AbstractEntities','AbstractEntityLabels','TitleEntityLabels'])
news_dim.to_csv('data/news_dim.csv')

In [26]:
news_title_exploded.head()

,NewsID,TitleEntities,TitleEntityLabels
0,N55528,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...","Prince Philip, Duke of Edinburgh"
0,N55528,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...","Charles, Prince of Wales"
0,N55528,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",Elizabeth II
1,N19639,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...",Adipose tissue
2,N61837,[],NaN

In [27]:
news_abstract_exploded.head()

,NewsID,AbstractEntities,AbstractEntityLabels
0,N55528,[],NaN
1,N19639,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...",Adipose tissue
2,N61837,"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId...",Ukraine
3,N53526,"[{""Label"": ""National Basketball Association"", ...",National Basketball Association
4,N38324,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...",Skin tag

In [30]:
behaviors.head()
print(behaviors['Date'].unique())

[datetime.date(2019, 11, 11) datetime.date(2019, 11, 12)
 datetime.date(2019, 11, 14) datetime.date(2019, 11, 13)
 datetime.date(2019, 11, 10) datetime.date(2019, 11, 9)]

In [29]:
news_dim.head()

,NewsID,Category,SubCategory,Title,Abstract,URL
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html